<h1>Criação de tarefas</h1>
<div class="container">
<form action="/tasks/add" method="POST" class="container-form">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="escreva a sua tarefa">
  </div>
    <div class="form-control">
    <label for="description">Descrição:</label>
    <textarea name="description" id="description" ></textarea>
  </div>

  <input type="submit" value="Criar tarefa">
  

  </form>
  </div>